body {
    background-color: #41729F;
    display: flex;
    place-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#toggleMenu {
    color: #41729F;
    display: flex;
    flex-direction: column;
    width: 300px; 
}

#toggleMenuBtn {
    width: 100%;
    background-color: #E9E9F5;
    color: black;
    display: flex;
    place-items: center;
    place-content: center;
    border-radius: 10px;
    cursor: pointer;
}

/*.openButton {
    border-radius: 10px;
}

.closedButton {
    border-radius: 10px 10px 0 0;
}*/

#burger {
    margin: 10px;
}

#toggleNavList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

.navLink {
    cursor: pointer;
    padding: 10px 10px;
    width: 25%;
    text-align: center;
}

.navLink:first-child, .navLink {
    border-top: 1px solid black;
    padding: 15px 0;
    width: 100%;
}

#toggleNavList {
    background-color: #E9E9F5;
    list-style: none;
}